.div-block {
  position: relative;
  overflow: hidden;
  height: 100vh;
  color: white;
}

.splash-background {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.div-block-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.navbar {
  background-color: transparent;
}

.nav-container {
  display: flex;
  max-width: 1300px;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: flex-start;
  align-items: center;
}

.text-block {
  font-family: 'IBM Plex Serif';
  color: white;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
}

@media screen and (max-width: 479px) {
  .text-block {
    font-size: 24px;
  }
}

.container {
  display: flex;
  height: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  text-align: center;
}

.text-block-2 {
  opacity: 0.6;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-block-3 {
  font-size: 18px;
  font-style: italic;
}

@media screen and (max-width: 479px) {
  .text-block-3 {
    font-size: 14px;
  }
}